{% extends 'base.html' %}
{% block title %}
    <title>Партнеры магазина</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Партнеры магазина</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">ПАРТНЁР - Физическое или Юридическое лицо, подписавший «Договор о Независимом Партнерстве» и зарегистрированный в Компании надлежащим образом.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Подробнее</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Стать партнером магазина</button>
              </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Участвуем в уникальной программе</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Торговая сеть реализует новый проект, помогая директорам магазинов становиться партнерами бизнеса. Суть проекта в том, что компания предоставляет больше свободы людям на местах, мотивируя директоров магазинов развивать бизнес фактически в качестве партнера. Участникам программы дали дополнительные инструменты и полномочия. Они теперь напрямую могут влиять на бизнес-результаты, улучшая свои профессиональные навыки и повышая собственный доход и доход сотрудников за счет премий, которые выплачиваются по итогам года в зависимости от выручки магазина.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Подробнее</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Стать партнером магазина</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}